{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="page-content">
        <h5>PAGE DE CONSULTATION D'UN ELEVE</h5>
        <p>
        <table >

            <tr><td>Nom : </td><td>{{eleve.nom}}</td>
            <tr><td>Prenom : </td><td>{{eleve.prenom}}</td>
            <tr><td>Numéro de Rue :</td><td>{{ eleve.numRue }}</a></td>
            <tr><td>Rue :</td><td>{{ eleve.rue }}</a></td>
            <tr><td>Code Postal :</td><td>{{ eleve.copos }}</td>
            <tr><td>Ville :</td><td>{{ eleve.ville }}</td>
            <tr><td>Tel :</td><td>{{ eleve.tel }}</td>
            <tr><td>Mail :</td><td>{{ eleve.mail }}</td></tr>

        </table>
    </div>
{% endblock %}