{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="bg-dash-dark-2 py-4">
        <div class="container-fluid">
            <h2 class="h5 mb-0">Elèves</h2>
        </div>
    </div>

    <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3 px-0">
                <li class="breadcrumb-item"><a href="{{ path('eleveLister') }}">Eleves</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste</li>
            </ol>
        </nav>
    </div>
    <section class="tables py-0">
    <div class="container-fluid">
    <div class="row gy-4">
    <div class="col-xxl-11">
    <div class="card mb-0">
    <div class="card-header">
        <h3 class="h4 mb-0"></h3>
    </div>
    <div class="card-body pt-0">
    <div class="table-responsive">
                                    <table class="table mb-0 table-striped table-hover">

    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro de Rue</th>
        <th>Rue</th>
        <th>Code Postal</th>
        <th>Ville</th>
        <th>Téléphone</th>
        <th>Mail</th>
        <th></th>
        <th>Actions</th>
        <th></th>
    </tr>

    {% for eleve in pEleve %}
        <tr>
            <td><a href="{{ path('eleveConsulter', { 'id': eleve.id }) }}">{{ eleve.nom }}</a></td>
            <td>{{ eleve.prenom }}</td>
            <td>{{ eleve.numRue }}</td>
            <td>{{ eleve.rue }}</td>
            <td>{{ eleve.copos }}</td>
            <td>{{ eleve.ville }}</td>
            <td>{{ eleve.tel }}</td>
            <td>{{ eleve.mail }}</td>
            <td>
                <a href="{{ path('eleveConsulter', { 'id': eleve.id }) }}">
                    <button type="button" class="btn btn-outline-success">
                        <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/consultIcon.png" width="30px" height="30px">
                    </button>
                </a>
            </td>
            <td>
                <a href="{{ path('eleveModifier', { 'id': eleve.id }) }}">
                    <button type="button" class="btn btn-outline-secondary">
                        <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/editIcon.png" width="30px" height="30px">
                    </button>
                </a>
            </td>
            <td>
                <a href="{{ path('eleveSupprimer', { 'id': eleve.id }) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cet élève');">
                    <button type="button" class="btn btn-outline-danger">
                        <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/deleteIcon.png" width="30px" height="30px">
                    </button>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">Aucun élève n'a été trouvé.</td>
        </tr>
    {% endfor %}
</table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}