<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un élève !</title>
</head>
<body>

<h1>Modifier un élève</h1>

<form action="{{ path('eleveModifier', { 'id': eleve.id }) }}" method="post">
    {{ form_start(form) }}

    <label for="nom">Nom :</label>
    {{ form_widget(form.nom) }}
    <br>

    <label for="prenom">Prénom :</label>
    {{ form_widget(form.prenom) }}
    <br>

    <label for="numRue">Numéro de Rue :</label>
    {{ form_widget(form.numRue) }}
    <br>

    <label for="rue">Rue :</label>
    {{ form_widget(form.rue) }}
    <br>

    <label for="copos">Code Postal :</label>
    {{ form_widget(form.copos) }}
    <br>

    <label for="ville">Ville :</label>
    {{ form_widget(form.ville) }}
    <br>

    <label for="tel">Téléphone :</label>
    {{ form_widget(form.tel) }}
    <br>

    <label for="mail">Mail :</label>
    {{ form_widget(form.mail) }}
    <br>

    {{ form_end(form) }}
    <br>

</form>

</body>
</html>
