{# templates/contratPret/ajouter.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un contrat de prêt !</title>
</head>
<body>

<h1>Ajouter un contrat de prêt</h1>

<form action="{{ path('contratPretAjouter') }}" method="post">
    {{ form_start(form) }}

    <label for="instrument">Instrument :</label>
    {{ form_widget(form.instrument) }}
    <br>

    <label for="dateDebut">Date de debut :</label>
    {{ form_widget(form.dateDebut) }}
    <br>

    <label for="dateFin">date de fin :</label>
    {{ form_widget(form.dateFin) }}
    <br>

    <label for="attestationAssurance">Attestation d'assurance :</label>
    {{ form_widget(form.attestationAssurance) }}
    <br>

    <label for="etatDetailleDebut">état de départ :</label>
    {{ form_widget(form.etatDetailleDebut) }}
    <br>

    <label for="etatDetailleRetour">état de retour :</label>
    {{ form_widget(form.etatDetailleRetour) }}
    <br>

    {{ form_end(form) }}
    <br>

</form>

</body>
</html>
