{# templates/contratPret/consulter.html.twig #}
{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="page-content">
        <h5>PAGE DE CONSULTATION D'UN CONTRAT DE PRET</h5>
        <p>
        <table>
            <tr><td>Id : </td><td>{{ contratPret.id }} </td></tr>
            <tr><td>numéro de l'instrument emprunté : </td><td>{{ contratPret.instrument.id }} </td></tr>
            <tr><td>élève ayant emprunté : </td><td>{{ contratPret.eleve.nom }} </td></tr>
            <tr>
                <td>Responsable(s) de l'élève :</td>
                {% for responsable in contratPret.eleve.responsables %}
                    <td>{{ responsable.prenom ~ " " ~ responsable.nom }}, </td>
                {% else %}
                    pas de responsables
                {% endfor %}
            </tr>
            <tr>
                <td>liste des interventions : </td>
                {% for interPret in contratPret.interPrets %}
                    <td>{{ interPret.intervention.id ~ " : " ~ interPret.intervention.descriptif }}, </td>
                {% else %}
                    <td>pas d'interventions</td>
                {% endfor %}
            </tr>
        </table>
        </p>
    </div>
{% endblock %}