{# templates/contratPret/lister.html.twig #}
{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="page-content">
        LISTE DES CONTRATS DE PRET</br>
        <table>

            {% for contratPret in contratsPret %}
                <tr>

                <td><a href="{{ path('contratPretConsulter', { 'id': contratPret.id }) }}">Emprunt {{ contratPret.id }}</a></td>
                <td>effectué par {{ contratPret.eleve.prenom ~ " " ~ contratPret.eleve.nom }} dont les responsables sont
            {% for responsable in contratPret.eleve.responsables %}
                <td>{{ responsable.prenom ~ " " ~ responsable.nom }} et</td>
            {% else %}
                pas de responsables
            {% endfor %}

                </a></td>
                <td>pour l'instrument {{ contratPret.instrument.id }}</td>
            {% else %}
                </tr>
                <tr>
                    <td>Aucun contrat de prêt n'a été trouvé.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}