{# templates/contratPret/lister.html.twig #}
{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <!-- Page Header-->
    <section class="pt-0">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                <h2 class="h5 mb-0">LISTE DES CONTRATS<br><br></h2>
                <a href="{{ path('contratPretAjouter') }}">
                    <button type="button" class="btn btn-outline-info">Ajouter un contrat de prêt</button>
                </a>
            </div>
        </div>
    </section>
    <section class="pt-0">
        <div class="container-fluid">
            <div class="row gy-4">
                {% for contratPret in contratsPret %}
                    <div class="col-lg-4">
                        {{ "Emprunt " ~ contratPret.id ~ " effectué par " ~ contratPret.eleve.prenom ~ " " ~ contratPret.eleve.nom ~ " dont les responsables sont "}}
                        {% for responsable in contratPret.eleve.responsables %}
                            {{ responsable.prenom ~ " " ~ responsable.nom ~ " "}}
                        {% else %}
                            {{ " pas de responsables " }}
                        {% endfor %}
                        {{ " pour l'instrument " ~ contratPret.instrument.id }}<br>
                        <a href="{{ path('contratPretConsulter', { 'id': contratPret.id }) }}">
                            <button type="button" class="btn btn-outline-success">Consulter</button>
                        </a>
                        <a href="{{ path('contratPretModifier', { 'id': contratPret.id }) }}">
                            <button type="button" class="btn btn-outline-secondary  ">Modifier</button>
                        </a>
                        <a href="{{ path('contratPretSupprimer', { 'id': contratPret.id }) }}">
                            <button type="button" class="btn btn-outline-danger">Supprimer</button>
                        </a>
                    </div>
                {% else %}
                    <div class="col-lg-4">
                        {{ "Aucun contrat de prêt n'a été trouvé." }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}