<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

LISTE DES CONTRATS DE PRET</br>
<table>

    {% for contratPret in contratsPret %}
        <tr>
            <td><a href="{{ path('app_contratPretConsulter', { 'id': contratPret.id }) }}">Emprunt {{ contratPret.id }}</a></td>
            <td>effectué par {{ c.eleve.prenom ~ " " ~ c.eleve.nom }} dont les responsables sont
                {% for responsable in contratPret.eleve.responsables %}
                    <td>{{ responsable.prenom ~ " " ~ responsable.nom }} et</td>
                {% else %}
                    pas de responsables
                {% endfor %}

                </a></td>
        <td>pour l'instrument {{ contratPret.instrument.id }}</td>
    {% else %}
        </tr>
        <tr>
            <td>Aucun contrat de prêt n'a été trouvé.</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>