{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-content">
        <h2>LISTE DES COULEURS</h2>

        <section class="tables py-0">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="col-xxl-11">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h3 class="h4 mb-0">Liste des couleurs</h3>
                            </div>
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-striped table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nom</th>
                                            <th>Actions</th>
                                        </tr>

                                        <!-- Modify the loop to display color details as before -->
                                        {% for couleur in couleurs %}
                                            <tr>
                                                <td>{{ couleur.id }}</td>
                                                <td>{{ couleur.nom }}</td>
                                                <td>
                                                    <a href="{{ path('couleurConsulter', { 'id': couleur.id }) }}">
                                                        <button type="button" class="btn btn-outline-success">
                                                            <img alt="consultIcon" src="/path/to/consultIcon.png" width="30px" height="30px">
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <!-- Display no colors found message -->
                                            <tr>
                                                <td colspan="3">Aucune couleur n'a été trouvée.</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}