
{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="page-content">
<h5>AJOUTER UN INSTRUMENT</h5>

<form method="post" action="{{ path('instrumentAjouter') }}">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</form>

<!-- Add a link to go to the lister page -->
<a href="{{ path('instrumentLister') }}">Voir la liste des instruments</a>

<!-- Add any additional content or scripts as needed -->
    </div>
{% endblock %}

