
{% extends 'base.html.twig' %}

	{% block head %}
        {{ parent() }}
    {% endblock %}

	{% block header %}
        {{ parent() }}
    {% endblock %}
	{% block body %}
    <div class="bg-dash-dark-2 py-4">
        <div class="container-fluid">
            <h2 class="h5 mb-0">Instruments</h2>
        </div>
    </div>

    <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3 px-0">
                <li class="breadcrumb-item"><a href="{{ path('instrumentLister') }}">Instruments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste</li>
            </ol>
        </nav>
    </div>

    <!-- Search Bar -->
    <div>
    <form method="get" action="{{ path('instrumentLister') }}" aria-label="Text input with radio button">

        <label for="search">Rechercher :</label>
        <input type="text" id="search" name="search" value="{{ app.request.query.get('search') }}">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
    </td>
<br>

            </div>

            <section class="tables py-0">
                <div class="container-fluid">
                    <div class="row gy-4">
                        <div class="col-xxl-11">
                            <div class="card mb-0">
                                <div class="card-header">

                                    <h3 class="h4 mb-0">Liste des instruments</h3>

                                </div>
                                <div class="card-body pt-0">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-striped table-hover">
        <tr>
            <th><a href="{{ path('instrumentLister', {'sort': 'numSerie', 'order': (sortField == 'numSerie' and sortOrder == 'asc' ? 'desc' : 'asc')}) }}">Type de Série</a></th>
            <th><a href="{{ path('instrumentLister', {'sort': 'marque', 'order': (sortField == 'marque' and sortOrder == 'asc' ? 'desc' : 'asc')}) }}">Marque</a></th>
            <th><a href="{{ path('instrumentLister', {'sort': 'TypeInstrument', 'order': (sortField == 'TypeInstrument' and sortOrder == 'asc' ? 'desc' : 'asc')}) }}">Type d'Instrument</a></th>
            <th>Classe d'Instrument</th>

            <th></th>
            <th>Actions</th>
            <th></th>

        </tr>

        <!-- Modify the loop to display instrument details as before -->
        {% for instrument in pInstruments %}
            <tr>
                <td><a href="{{ path('instrumentConsulter', { 'id': instrument.id }) }}">{{ instrument.numSerie }}</a></td>
                <td>{{ instrument.marque.libelle }}</td>
                <td>{{ instrument.TypeInstrument.libelle }}</td>
                <td>{{ instrument.TypeInstrument.ClasseInstrument.libelle }}</td>
                <td>
                    <a href="{{ path('instrumentConsulter', { 'id': instrument.id }) }}">
                        <button type="button" class="btn btn-outline-success">
                            <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/consultIcon.png" width="30px" height="30px">
                        </button>
                    </a>

                </td>
                <td>
                    <a href="{{ path('instrumentModifier', { 'id': instrument.id }) }}">
                        <button type="button" class="btn btn-outline-secondary">
                            <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/editIcon.png" width="30px" height="30px">
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('instrumentSupprimer', { 'id': instrument.id }) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer');">
                        <button type="button" class="btn btn-outline-danger">
                            <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/deleteIcon.png" width="30px" height="30px">
                        </button>
                    </a>
                </td>


            </tr>
        {% else %}
            <!-- Display no instruments found message -->
            <tr>
                <td colspan="5">Aucun instrument n'a été trouvé.</td>
            </tr>
        {% endfor %}

    </table>

    <!-- Add a link to return to the full list if a search has been performed -->
    {% if app.request.query.get('search') is not null %}
        <p>
            <a href="{{ path('instrumentLister') }}">Revenir à la liste complète</a>
        </p>
    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}