{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="page-content">
        <h5>MODIFICATION D'UN INSTRUMENT</h5>

    <section class="pt-0">
    <div class="container-fluid">
    <div class="row gy-4">
    <div class="col-lg-12">
    <div class="card">
    <div class="card-header">
        <h3 class="h4 mb-0">Ajouter un contrat de prêt</h3>
    </div>
    <div class="card-body pt-0">
        <form method="post" action="{{ path('instrumentModifier', {'id': instrument.id}) }}">
            {{ form_start(form) }}

            <div class="mb-3">
                <label class="form-label" for="exampleInputEmail1">Nom de l'élève</label>
                {{ form_widget(form.numSerie) }}
            </div>
            <div class="mb-3">
            <label for="dateAchat"></label>
            {{ form_row(form.dateAchat) }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="exampleInputPassword1"></label>
            {{ form_row(form.prixAchat) }}
            </div>
            <label for="utilisation">Utilisation :</label>
            {{ form_row(form.utilisation) }}

            <label for="marque"></label>
            {{ form_row(form.marque) }}

            <label for="TypeInstrument"></label>
            {{ form_row(form.TypeInstrument) }}

            <label for="couleurs"></label>
            {{ form_row(form.couleurs) }}

            <!-- Add input field for cheminImage -->
            <label for="cheminImage"></label>
            {{ form_row(form.cheminImage) }}

            <!-- Display the image -->
            <label for="currentImage">Image actuelle :</label>
            {% set photo = 'img/instrument/' ~ instrument.cheminImage ~ '.jpg' %}
            <span class="zoom"><img src="{{ asset(photo | trans )}}" title="{{ instrument.cheminImage }}" alt="{{ instrument.cheminImage }}" width="300" height="200"/></span>

            <button type="submit">Modifier</button>

            {{ form_end(form) }}
        </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

        <!-- Add a link to go back to the consultation page -->
        <a href="{{ path('instrumentConsulter', {'id': instrument.id}) }}">Retour à la consultation</a>
    </div>
{% endblock %}