{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-content">
        <section class="tables py-0">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="col-xxl-12">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h3 class="h4 mb-0">Consultation de la classe d'instrument {{ classeInstrument.libelle }}</h3>
                            </div>
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-striped table-hover">
                                        <tr><td>ID : </td><td>{{ classeInstrument.id }}</td></tr>
                                        <tr><td>Libellé : </td><td>{{ classeInstrument.libelle }}</td></tr>
                                    </table>
                                </div>

                                <!-- Button to go back to the list of instrument classes -->
                                <a href="{{ path('classeInstrumentLister') }}">Retour à la liste des classes d'instruments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
