{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="bg-dash-dark-2 py-4">
        <div class="container-fluid">
            <h2 class="h5 mb-0">Types Instruments</h2>
        </div>
    </div>
    <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3 px-0">
                <li class="breadcrumb-item"><a href="{{ path('typeInstrumentLister') }}">Types Instruments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Type Instrument {{ typeInstrument.id }}</li>
            </ol>
        </nav>
    </div>
        <section class="tables py-0">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="col-xxl-12">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h3 class="h4 mb-0">Consultation du type d'instrument {{ typeInstrument.libelle }}</h3>
                            </div>
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-striped table-hover">
                                        <tr><td>ID : </td><td>{{ typeInstrument.id }}</td></tr>
                                        <tr><td>Libellé : </td><td>{{ typeInstrument.libelle }}</td></tr>
                                        <tr><td>Classe Instrument : </td><td>{{ typeInstrument.classeInstrument.libelle }}</td></tr>
                                    </table>
                                </div>


                                <h6>Instruments utilisant ce type :</h6>
                                <div class="card-body pt-0">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-striped table-sm">
                                            <tr>
                                                <th>ID de l'Instrument :</th>
                                                <th>Nom de l'Instrument :</th>
                                            </tr>
                                            {% for instrument in typeInstrument.instruments %}
                                                <tr>
                                                    <td>{{ instrument.id }}</td>
                                                    <td>{{ instrument.numSerie }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('typeInstrumentModifier', { 'id': typeInstrument.id }) }}">
                                                        <button type="button" class="btn btn-outline-secondary">
                                                            <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/editIcon.png" width="30px" height="30px">
                                                        </button>
                                                    </a>

                                                    <a href="{{ path('typeInstrumentSupprimer', { 'id': typeInstrument.id }) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce responsable');">
                                                        <button type="button" class="btn btn-outline-danger">
                                                            <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/deleteIcon.png" width="30px" height="30px">
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <a href="{{ path('typeInstrumentLister') }}">Retour à la liste des types d'instruments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
