{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="bg-dash-dark-2 py-4">
        <div class="container-fluid">
            <h2 class="h5 mb-0">Types Instruments</h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3 px-0">
                <li class="breadcrumb-item"><a href="{{ path('typeInstrumentLister') }}">Types Instruments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste</li>
            </ol>
        </nav>
    </div>
        <section class="tables py-0">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="col-xxl-11">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h3 class="h4 mb-0">Liste des types d'instruments</h3>
                            </div>
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-striped table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>Libellé</th>
                                            <th>Classe Instrument</th>
                                            <th></th>
                                            <th>Actions</th>
                                            <th></th>
                                        </tr>

                                        {% for typeInstrument in typesInstruments %}
                                            <tr>
                                                <td>{{ typeInstrument.id }}</td>
                                                <td>{{ typeInstrument.libelle }}</td>
                                                <td>{{ typeInstrument.classeInstrument.libelle }}</td>
                                                <td>
                                                    <a href="{{ path('typeInstrumentConsulter', { 'id': typeInstrument.id }) }}">
                                                        <button type="button" class="btn btn-outline-success">
                                                            <img alt="consultIcon" src="/23JPLGO/public/assets/img/consultIcon.png" width="30px" height="30px">
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('typeInstrumentModifier', { 'id': typeInstrument.id }) }}">
                                                        <button type="button" class="btn btn-outline-secondary">
                                                            <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/editIcon.png" width="30px" height="30px">
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('typeInstrumentSupprimer', { 'id': typeInstrument.id }) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer');">
                                                        <button type="button" class="btn btn-outline-danger">
                                                            <img alt="boutonAjouter" src="/23JPLGO/public/assets/img/deleteIcon.png" width="30px" height="30px">
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}

                                            <tr>
                                                <td colspan="4">Aucun type d'instrument n'a été trouvé.</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
