{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <br>
        <section class="pt-0">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="h4 mb-0">Modifier un type d'instrument</h3>
                            </div>
                            <div class="card-body pt-0">
                                <form method="post" action="{{ path('typeInstrumentModifier', {'id': typeInstrument.id}) }}">
                                    {{ form_start(form) }}

                                    <div class="mb-3">
                                        <label class="form-label" for="exampleInputEmail1">Libellé du type d'instrument</label>
                                        {{ form_widget(form.libelle) }}
                                    </div>

                                    <div class="mb-3">
                                        <button type="submit">Modifier</button>
                                    </div>

                                    {{ form_end(form) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
