<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Liste des cours{% endblock %}</title>
</head>
<body>

<h1>LISTE DES COURS</h1>

<table border="1">
    <tr>
        <th>Libellé</th>
        <th>Jour</th>
        <th>Age minimum</th>
        <th>Age maximum</th>
        <th>Heure de début</th>
        <th>Heure de fin</th>
        <th>Actions</th>
    </tr>

    {% for cours in pCours %}
        <tr>
            <td><a href="{{ path('coursConsulter', { 'id': cours.id }) }}">{{ cours.libelle }}</a></td>
            <td>{{ cours.jour.libelle }}</td>
            <td>{{ cours.ageMini }}</td>
            <td>{{ cours.ageMaxi }}</td>
            <td>{{ cours.heureDebut|date('H:i:s') }}</td>
            <td>{{ cours.heureFin|date('H:i:s') }}</td>
            <td>
                <form action="{{ path('coursModifier', {'id': cours.id}) }}" method="post">
                    <input type="hidden" name="_method" value="UPDATE">
                    <button type="submit">Modifier</button>
                </form>

                <form action="{{ path('coursSupprimer', {'id': cours.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Aucun cours n'a été trouvé.</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
